.contents-flex {
    display: flex;
    flex-wrap: wrap;
}

.display-container {
    margin-top: 50px;
}

.display-box {
    width: 300px;
    margin: 10px;
    border: solid;
    padding: 15px 15px 0;
}

.box-image {
    width: 100%;
    height: 200px;
    display:block;
    background-color: #f79314;
}

img {
    width: 100%;
    height: 100%;
}

.box-keywords p {
    margin-right: 10px;
}

.hide {
    /*visibility: hidden;*/
    display: none;
}

